<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Morse</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet/less" type="text/css" href="css/styles.less">

    <script src="js/less.min.js" type="text/javascript"></script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/ui.js" type="text/javascript"></script>

    <!--[if IE]><link rel="shortcut icon" href="img/favicon.ico"><![endif]-->
    <!-- <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png">
    <link rel="icon" href="img/favicon.png"> -->

</head>

<body>

    <div class="container">

        <header>
            <h1>morse</h1>
        </header>

        <section class="start">

            <button type="button" class="newbroadcast">Start New Broadcast</button>

            <div class="instruction">or join an existing broadcast</div>

            <input type="text" class="broadcastcode" name="broadcastcode" placeholder="enter broadcast code">
            <button type="button" class="joinbroadcast">Join</button>

        </section>

        <footer>

        </footer>

    </div><!-- end .container -->

</body>

</html>
