<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Morse</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet/less" type="text/css" href="/css/styles.less">

    <script src="/js/less.min.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/socketio.js" type="text/javascript"></script>
    <script src="/js/chart.js" type="text/javascript"></script>
    <script src="/js/receive.js" type="text/javascript"></script>

    <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png">
    <link rel="icon" href="/img/favicon.png">

</head>

<body>

    <div class="container">

        <header>
            <h1>Receiving on Channel <span class="channelid"></span></h1>

            <button class="showchart">
                <i data-value="dash"></i>
                <i data-value="dash"></i>
                <i data-value="dash"></i>
            </button>
        </header>

        <section class="output">

            <div class="outputstream"></div>

        </section>

        <aside class="chart">
            <div class="chart-inner"></div>
        </aside>

        <footer>
            <a href="https://github.com/travhimself/morse" class="github">View on GitHub</a>
        </footer>

    </div><!-- end .container -->

</body>

</html>
