/* Styles
================================================== */

body {
    font-family: 'Work Sans', sans-serif;

    * {
        box-sizing: border-box;
    }

    color: @colorbody;

    .container {
        min-width: 300px;
        margin: 0 auto;
    }

    header {
        margin: 20px 0 60px 0;

        h1 {
            text-align: center;
            text-transform: uppercase;
        }

        button.showchart {
            .button(40px, #fff, @colorbody);
            position: absolute;
            top: 20px;
            right: 0;
            width: 40px;
            padding: 10px;

            &.open {
                right: 220px;
            }

            i {
                .signal(4px);
                margin: 0 0 4px 0;
                background: #fff;
            }
        }
    }

    section {
        margin: 60px 20px;

        button {
            .button(60px, #fff, @orange);
            -webkit-font-smoothing: antialiased;
        }

    }

    section.start,
    section.join {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 280px;
        }
    }

    section.start {

    }

    section.join {

        input.transmissionid {
            display: block;
            width: 280px;
            height: 60px;
            border: 2px solid @colorbody;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 0;
        }
    }

    section.input {
        position: relative;
        overflow: hidden;
        height: 120px;
        margin: 60px 0;
        background: #eee;

        .inputstream {
            position: absolute;
            top: 0;
            right: 52%;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 9999px;
        }
    }

    section.keys {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 60px;

        .keyblock {
            margin-right: 20px;

            &.last-child {
                margin-right: 0;
            }

            .key {
                .button(60px, #fff, @orange);
                -webkit-font-smoothing: antialiased;
                border-radius: 4px;

                &.square {
                    width: 60px;
                    padding: 0;
                }

                &.wide {
                    padding: 0 60px;
                }
            }

            .instruction {
                margin-top: 20px;
            }
        }
    }

    section.output {
        width: 80%;
        padding: 20px 40px;
        margin: 0 auto;
        background: #eee;

        .outputstream {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            i {
                margin-bottom: 20px;
            }
        }
    }

    section.aux {

        .url {
            text-align: center;
        }
    }

    aside.chart {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        overflow-y: scroll;
        background: @colorbody;

        &.open {
            width: 220px;
        }

        .chart-inner {
            width: 200px;
            padding: 40px;

            .entry {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 5px;

                .letter {
                    display: block;
                    width: 30px;
                    color: #fff;
                    -webkit-font-smoothing: antialiased;
                }

                .sequence {
                    display: flex;
                    flex-direction: row;

                    i {
                        .signal(@signalsizesmall);

                        &[data-key="dot"],
                        &[data-key="dash"] {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }

    i {
        .signal(@signalsize);
    }

    .instruction {
        margin: 0 0 20px 0;
        color: @colorbodylight;
        font-size: 12px;
        text-align: center;
        font-size: 12px;
    }

    footer {
        position: absolute;
        left: 40px;
        bottom: 40px;

        a.github {
            display: block;
            height: 16px;
            line-height: 16px;
            padding-left: 24px;
            font-size: 12px;
            color: #555;
            text-decoration: none;
            background: transparent  url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0QjM3MzNGOTZGREUxMUU1OENFNkUyRTZGN0I1NUI2QSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0QjM3MzNGQTZGREUxMUU1OENFNkUyRTZGN0I1NUI2QSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjRCMzczM0Y3NkZERTExRTU4Q0U2RTJFNkY3QjU1QjZBIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjRCMzczM0Y4NkZERTExRTU4Q0U2RTJFNkY3QjU1QjZBIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+pDXpogAAAuRJREFUeNrEl0tIVFEcxu9cWySkEYTpJmYqCgIDMYqoRU1R0SKhaSRoFVi0SzAh2lSbDCwxiBCsTdCmtKFy0UIoetBGERIayzJ6UWEN6ET2sG7fH76B4+mc670zV/rDj2HO4/t/997zjKXTaSdgLAYNYAtYAxJgAeu+glfgCbgLboLPQUTnBWhTB46BPT7txUgt2Q+6wA1wBgz5ibs+dQtBNxgEjQHNqg/WyL7d1AploI7Om0DMKT5i1BiiZiADSXCP3ziqSFAzOZuBepABlU70UUntepuBRaBHS57lYJosIuEk+2Y1Ez3M9Y+BcyCuiZwGKVDFb/lJmXbD4D4ZZpnDNk3sk6KGGnHmmjEN14IDhqd4yt8f4DLd14Dn4I/hc64EH8CEQUMNyXURDBTewHHLayzT/ovwiCG5w7IRLblJw1FzioFqsNvSaHUEg8+mITmrXS6vJpfvwO0IDIjGW8vbbXBNc5NxAuQiMCAaJy11SZfrtx6/QW+Ea0AvNfWodQ1TT+K9YTCVEhPU1CMuBsoNFT/nYCX8ZSgrt21GS+bAQJVtM8obyitsHUpIXmEoz4uBMUunnREasGmNuTw0mKIl5CHE73DSYqkbFAP9lko597VHYKCdWqboFwN94JulQTO4zuU6bNSwb7OlXnL2FQbhFc3xZvCA//eCN+AaOMids8zyqjeAwzwHvGZfW0jOfIzH8qXgGZgPPNAKLnCvX6d1zHCf9wznvwz3ltniO1glD1ZYB+QJ2xShszxE7jNsJB2G5A7LOgJ+njbmnDHK5eSyHWzk/1NgBwdQiovTAHjsI5wNkPyRekpSDUzzmz0Ey2nmCDjP01Cxy60aL5lj2nYz+gi2cmquAJ3scAuMczZ08huGjRdgG3P4Xs1k9K4HV7mCbSKF6CrCwB1e2XJBb0bScBen3XgJi5BcUA9RKxf2biij+hJYBo6CUfAFTPn0mWKbUU7lBO+GnvXu5nme8z/jrwADAHqno1CNpl6SAAAAAElFTkSuQmCC') 0 0 no-repeat;
            background-size: 16px 16px;
        }
    }

}



/* Vars and Mixins
================================================== */

@colorbody: #555;
@colorbodylight: #aaa;
@colorbodyextralight: #ddd;

@orange: #f57b5e;

@signalsize: 10px;
@signalsizesmall: 4px;

.button(@height, @textcolor, @bgcolor) {
    display: block;
    height: @height;
    line-height: @height;
    border: 0;
    padding: 0 40px;
    font-size: 18px;
    text-transform: uppercase;
    color: @textcolor;
    background: @bgcolor;

    &:focus {
        outline: 0;
    }
}

.signal(@size) {
    display: block;
    height: @size;
    margin-right: @size;
    font-size: 0;

    &[data-key=break] {
        width: @size * 3;
        background: @colorbodyextralight;
    }

    &[data-key=dot] {
        width: @size;
        background: @colorbody;
    }

    &[data-key=dash] {
        width: @size * 3;
        background: @colorbody;
    }
}
